NewStructure/outfiles
NewStructure/Analyse
NewStructure/*.o
NewStructure/*.so
NewStructure/Cint*
NewStructure/lib
NewStructure/build
NewStructure/doxy
NewStructure/*.d
NewStructure/*.pcm
NewStructure/*.txt
NewStructure/*.log
*.root
*.h2g
lfhcal-runs/
